In [46]:
import pandas as pd
from datetime import datetime,time,timedelta,date

In [47]:
df = pd.read_csv('AW_test.csv')

In [48]:
df.drop(['Title','FirstName','LastName','MiddleName','Suffix','AddressLine1',
           'AddressLine2','StateProvinceName','PhoneNumber','City', 'PostalCode'], axis=1, inplace=True)

In [49]:
df['BirthDate'] =  pd.to_datetime(df['BirthDate'])
df['Coll_date']=date(year = 1998, month = 1, day = 1)
df['Coll_date']=pd.to_datetime(df['Coll_date'])
df['Age_days'] = df['Coll_date']- df['BirthDate']
df['Age'] =  df['Age_days'].astype('timedelta64[Y]')
df.drop(['Coll_date','Age_days', 'BirthDate'], axis=1, inplace=True)
df['Age'] = df['Age'].astype(int)

In [50]:
df.drop(['HomeOwnerFlag'], 
          axis=1, inplace=True)
df['ChildrenOut'] = df['TotalChildren'] - df['NumberChildrenAtHome']

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
CustomerID              500 non-null int64
CountryRegionName       500 non-null object
Education               500 non-null object
Occupation              500 non-null object
Gender                  500 non-null object
MaritalStatus           500 non-null object
NumberCarsOwned         500 non-null int64
NumberChildrenAtHome    500 non-null int64
TotalChildren           500 non-null int64
YearlyIncome            500 non-null int64
Age                     500 non-null int32
ChildrenOut             500 non-null int64
dtypes: int32(1), int64(6), object(5)
memory usage: 45.0+ KB

In [52]:
df.to_csv('Test_Data_Prepped.csv', index = False, header = True)